body{
    background-image: url("img.jpg");

}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.contact-form .row {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
}

.contact-form .col-md-6 {
    width: 50%;
    padding: 10px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form textarea {
    height: 150px;
}

.contact-form button {
    background-color: #d9bcd7;
    color: #651659;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #b30098;
}
